html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
}

footer p {
    font-size: 16px;
}

h2 {
    font-size: 30px;
    text-align: center;
}
 
h3 {
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 55px;
}

ul {
    list-style-type: square;
}

a {
    color: rgb(28, 42, 163);
}

nav ul {
    list-style-type: none;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

li > ul > li {
    margin-left: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#picture {
    width: 450px; 
    height: auto; 
}

#image-div {
    width: 20%;
}
#image-other-div {
    width: 60%;
}

.left-div {
    float: left;
    width: 40%; 
    margin-left: 100px;

}

.right-div {
    float: right;
    width: 45%; 
    margin-right: 100px;
}

table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

td {
    font-size: 14px;
}

thead, tfoot {
    background-color: #f2f2f2; 
}

th:first-child, td:first-child {
    width: 30%;
}

th:nth-child(2), td:nth-child(2) {
    width: 70%;
}

#extra-indent{
    margin-left: 20px;
}